<p>Hey there! Here is your sign in link (you can only use it once):</p>

<p><%= link_to "Sign In", main_app.root_url(email: @email, sign_in_token: @token, path: @path, redirect_id: @redirect_id) %></p>

<p>Thanks!</p>
